# NBA Sportsbook Pipeline Dependencies
requests==2.31.0
pandas==2.1.4

# Airflow
# apache-airflow==2.8.0

# PostgreSQL
psycopg2-binary==2.9.9
SQLAlchemy==1.4.52
python-dotenv==1.0.1

python-dateutil==2.8.2
